---
import MyReactComponent from '../components/HelloWord.jsx';
import MyVueComponent from '../components/Hello.vue';
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro</title>
</head>

<body>
	<h1>
		Welcome to The Astro
	</h1>
	<MyReactComponent />
	<MyVueComponent />

</body>

</html>